# LLM VLM Model related files
gemma-3n-E4B-it-Q4_K_M.gguf
llava-v1.5-7b-Q4_K_M.gguf
llava-v1.5-7b-mmproj-model-f16.gguf

# Data folders to avoid
pdf_files/
chroma_db/
retrieval_cache/
langgraph_checkpoints/
temp_images/

# Databases used in the program
user_profiles.db
test_cache.db

# API related
.langgraph_api/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Gradio related:
.gradio/

# Ruff stuff:
.ruff_cache/

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#uv.lock